*{
  margin: 0%;
  padding: 0%;
}
@mixin md {
  @media  (max-width : "1200px"){
    @content;
  }
}

.App{
  background-color: whitesmoke;
  @include md{
    background-color: white;
  }
  .home{
    height: 100vh;
    width: 100%;
    .navbar{
      width: 100%;
      height: 60px;
      background-color: white;
      box-shadow: 0px 0px 5px 0px;
      position: fixed;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .navLogo{
        a{
          text-decoration: none;
        }
        span{
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          color: blueviolet;
          cursor: pointer;
        }
      }
      .navLinks{
        display: flex;
        gap: 30px;
        a{
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          text-decoration: none;
          color: black;
        }
      }
    }
    .landerPage{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .landerWrapper{
        background-color: white;
        height: 300px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        h1{
          font-size: 40px;
          font-family: Arial, Helvetica, sans-serif;
        }
        p{
          font-size: 15px;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        button{
          border: none;
          background: linear-gradient(to right, rgb(175, 175, 236), rgb(245, 206, 134));
          width: 150px;
          height: 40px;
          margin-top: 10px;
          border-radius: 20px;
          cursor: pointer;
        }
      }
    }
    #starfish{
      position: absolute;
      top: 20%;
      left: 20%;
      opacity: .5;
      }
      #starfish1{
        position: absolute;
        top: 20%;
        right: 20%;
        opacity: .5;
      }
      #starfish2{
        position: absolute;
        bottom: 20%;
        left: 20%;
        opacity: .5;
      }
      #starfish3{
        position: absolute;
        bottom: 20%;
        right: 20%;
        opacity: .5;
      }
    }
    .aboutMe{
      height: 60vh;
      width: 100%;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      .details{
        width: 60%;
        height: 80%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        @include md{
          width: 100%;
          height: auto;
        }
        h1{
          font-size: 30px;
          font-family: 'Lucida Sans';
          @include md{
            margin: 10px;
          }
        }
        p{
          font-size: 16px;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifs;
          @include md{
            margin: 10px;
          }
        }
        h3{
          @include md{
            margin: 10px;
          }
        }
        .skills{
          width: 100%;
          display: flex;
          justify-content: space-between;
          
          .react{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
          .js{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img{
              height: 80px;
              width: 80px;
            }
          }
          .java{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img{
              height: 80px;
              width: 80px;
            }
          }
          .html{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img{
              height: 80px;
              width: 80px;
            }
          }
          .css{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img{
              height: 80px;
              width: 80px;
            }
          }
        }
      }
    }  
    .projects{
      width: 100%;
      height: 60vh;
      margin-top: 30px;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include md{
        height: auto;
      }
      h1{
        padding-top: 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        @include md{
          padding-bottom: 20px;
        }
      }
      .projCard{
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        .card{
          width: 250px;
          height: 250px;
          background-color: cyan;
          border-radius: 10px;
          padding: 10px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          
          img{
            width: 100%;
            height: 150px;
            object-fit: fill;
          }
          h3{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          }
          p{
            font-size: 12px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          }
          button{
            border: none;
            background-color: green;
            width: 100px;
            height: 30px;
            border-radius: 20px;
            margin-top: 10px;
            color: white;
          }
        }
      }
    }
    .contact{
      width: 100%;
      height: 50vh;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      @include md{
        flex-direction: column;
        height: auto;
        margin-top: 10px;
      }
      .contactDetail{
        gap: 30px;
        display: flex;
        flex-direction: column;
        h1{
          margin-bottom: 30px;
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .contactOpt{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          img{
            width: 20px;
            height: 20px;
          }
        }
        button{
          padding: 10px 5px;
          background-color: gray;
          border: none;
          color: white;
        }
      }
      .form{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include md{
          margin: 20px 0px;
        }
        form{
          display: flex;
          background-color: gray;
          flex-direction: column;
          height: 300px;
          border-radius: 10px;
          padding: 20px;
          width: 250px;
          justify-content: center;
          gap: 15px;
          label{
            font-size: 15px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: black;
          }
          input{
            padding: 5px;
            border-radius: 10px;
            border: none;
            outline: none;
          }
         textarea{
          border: none;
          outline: none;
          resize: none;
          max-width: 250px;
          max-height: 100px;
          min-width: 250px;
          min-height: 100px;
         }
        }
      }
    }
    .footer{
      width: 100%;
      height: 30px;
      background-color: gray;
      display: flex;
      justify-content: center;
      align-items: center;
      div{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
      }
      img{
        width: 20px;
        height: 20px;
        
      }
      span{
        color: black;
      }
    }
  }


  